header a {
      font-family: Montserrat;
      font-size: medium;
      color: white;
      font-size: 12px;
      border-color: #f14d34;
      border-bottom: 3px solid transparent;
      transition: border-color 400ms;
      width: 174px;
      height: 24px;
      padding-bottom: 5px;
  }
  header li{
      height: 25px;
      margin-right: 30px;
  }
 header a:hover {
      color: white;
      text-decoration: none;
      border-color: #f14d34;
  }
  .container{
      width: 750px;
      min-height: 43px;
  }
  .navbar-logo{
      margin: 0;
  }
  .navbar-toggle{
      display: none;
  }
  
  .navbar-collapse.collapse{
      display: block;
      height: auto;
      padding-bottom: 0;
      overflow: visible;
  }

.Support {
    padding: 100px 0;
    font-family: Montserrat;
  }
  .Support h2 {
    font-weight: bold;
    font-size: 24px;
    color: #050c33;
    margin: 0 0 20px;
  }
  .Support--description {
    margin-bottom: 75px;
    font-weight: 500;
    font-size: 16px;
    color: #4f5a73;
  }
  .Support-block{
    margin-bottom:60px;
  }
  .Support{
    position:relative;
    margin-bottom:30px;
  }
  .Support-title{
    font-weight: 500;
    font-size: 14px;
    color: #4f5a73;
  }
  
  .Support .col-sm-3{
  width: 50%;
  }
  .Support{
    margin-top: 55px;
  }
  .img_back{
    position: absolute;
    left: -30.22%;
    right: 67.58%;
    top: 8.76%;
    bottom: 54.64%;
   }
.support{
  font-family: Montserrat;
  margin-bottom: -212px;
}

.support h2 {
    margin-bottom: 55px;
    text-align: center;
    color: #050c33;
    font-weight: bold;
    font-size: 24px;
}
.support-blocks{
    margin-bottom: -212px;
    padding: 0 12px;
    position:relative;
    z-index:20;
}


.sup-pics{
    margin-bottom: 5px;
}
.support-block{
    background: #fff;
    border-radius: 5px;
    box-shadow: 20px 20px 40px rgba(5,12,51,.05);
    margin-left: -12px;
    margin-right: -12px;
    height: 100%;
    position: relative;
    padding: 25px 25px 45px;
    min-height: 292px;
}
.sup-block-text{
    position: relative;
    z-index: 10;
    font-weight: 500;
    font-size: 16px;
    color: #4e5a73;
    line-height: 1.37;
}
.sup-block-icon{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
}
.sup-num{
       font-weight: bold;
    font-size: 12px;
    color: #828a9b;
    margin-bottom: 20px;
    font-family: Montserrat;
}
.sup-block-title{
       font-weight: bold;
    font-size: 18px;
    color: #050c33;
    line-height: 1.22;
    margin-bottom: 15px;
}

@media (max-width: 992px){
    .support .col-md-3{
      min-width: 50%;
    }
}
 .support h2 {
    font-size: 32px;
  }
 .support h2 {
    font-size: 42px;
  }
.reviews-slider-block{
  margin-bottom: 160px;
  font-family: Montserrat;
  font-style: normal;
  background: url(./img/right-quote-sign.svg) no-repeat left top;
  padding-top: 90px;
  background-size: 26% ;
}

.review-slick-slider{
  width: 100%;
  float: left;
  border-bottom: 1px solid #cdcdcd;
  padding: 0;
}
.second-slider .w-p-slide {
  transform: translateX(50%);
}
.review-slick-slider{
  width: 64%;
  float: left;
  padding-right: 60px;
  border-bottom: 0px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  padding: 14px 60px;
}
.slick-slide {
  padding: 0;
  width: 100%;
}.w-p-slide{
  padding:5px;
  height:100%;
}
.w-p-slide img {
  margin: auto;
  max-width: 100%;
  height: auto;
  width: 100%;
}
.w-p-slide div {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 10px;
}
.tariffs {
  padding-bottom: 50px;
  background: url("img/D-background-opacity.svg") no-repeat right top, #fff;
  background-size: cover;
}

.tariffs h2 {
  font-size: 24px;
  padding-top: 105px;
  text-align: center;
  color: #000;
  margin-bottom: 40px
}


.tariff-block {
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  padding: 30px 15px;
  background: #fff;
  margin: 0 auto;
  transition: all 500ms;
  transform-origin: center;
  width: 420px;
  max-width: 100%;
}

.tariffs>.container {
  margin-bottom: 30px;
}

.tariffs>.container>.row {
  align-items: flex-start;
}

.tariff-col:hover .tariff-block,
.default-tariff .tariff-block {
  transform: none;
  z-index: 15;
  box-shadow: 0 4px 60px rgba(150, 150, 150, .3);
}


.tariff-col:hover~.default-tariff .tariff-block {
  transform: none;
  z-index: 0;
  box-shadow: none;
}

.tariff-col {
  margin-bottom: 15px;
}

.tariff-title {
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 50px;
  font-size: 22px;
  font-weight: bold;
  color: #f14d32;
  line-height: 1.3;
  padding-bottom: 29px;
}

.tariffs li {
  margin-bottom: 18px;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 100;
  position: relative;
  color: #4e5972;
  padding-left: 15px;
}

.tariffs ul {
  padding-left: 15px;
  list-style-image: url("./img/checkmark.svg");
}
.tariff-block:hover .contact-button,
.default-tariff .contact-button {
  color: #fff;
  background: #f14d34;
}

.tariff-col:hover~.default-tariff .contact-button {
  color: #f14d34;
  background: rgba(0, 0, 0, 0);
}

.tariffs-custom {
  text-align: center;
  color: #828a9b;
  line-height: 1.3;
  font-weight: 500;
  width: 475px;
  max-width: 345px;
  margin: 0 auto;
  font-size: 14px;
}

.tariffs-custom a{
  text-decoration: underline;
}

.form-opener {
  color: #050c33;
  font-size: 12px;
  text-decoration: none;
  transition: color 300ms;
  margin-top: 26px;
}

.tariffs-custom a:hover {
  color: #f14d34;
  text-decoration: none;
}
 .tariffs-custom {
    min-width: 475px;
    font-size: 16px;
  }

  .tariff-block{
    min-width: 220px;
  }

  .tariffs .container{
    min-width: 750px;
  }
 .tariffs {
    padding-bottom: 100px;
    background-size: 58%;
  }
.tariff-block {
  max-width: 500px;
  width: auto;
}
.tariff-col:hover .tariff-block,
.default-tariff .tariff-block {
  transform: scale(1.1);
}

.tariffs h2 {
  font-size: 32px;
  padding-top: 160px;
  margin-bottom: 65px
}
@media (min-width: 992px) {
  .tariff-block {
    padding: 70px 20px 60px;
  }
        .tariffs h2 {
    font-size: 42px;
    padding-top: 160px;
    margin-bottom: 65px
  }

  .tariffs li {
    font-size: 16px;
  }
.expertise{
  padding: 230px 0 230px 0;
  position:relative;
  background: linear-gradient(254.72deg, rgba(225,255,255,.276) -114.85%, rgba(255,255,255,0) 69.04%), #040613;
}

.expertise:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(./img/druplicon-2.svg) no-repeat right bottom;
  background-size: contain;
  z-index: 10;
}

.expertise h2{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 65px;
  color: #fff;
  opacity: 100%;
  font-family: Montserrat;
}

.expertise-block-description{
  border-left: 3px solid #f14d34;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  min-height: 88px;
  height: 100%;
  line-height: 22px;
  font-weight: 500;
  font-size: 16px;
  color: rgba(256,256,256,.7);
  width: 260px;
  font-family: Montserrat;
}
.expertise-collumn{
  margin-bottom: 30px;
}

.expertise a{
  color: #f14d34;
}
       .expertise .col-md-6{
    min-width: 100%;
  }

  .expertise .container .row .row {
    min-width: 750px;
  }
      .expertise h2{
    font-size: 32px;
    margin-bottom: 65px;
}

.expertise {
    padding: 380px 0 150px;
}
        .expertise h2{
    font-size: 42px;
    margin-bottom: 65px;
}
      .expertise .col-md-6{
  min-width: 50%;
}
